.li-item {
    position: relative;
    list-style: none;
    width: 95%;
    height: 300px;
    margin-bottom: 20px;
}
li{
    border-color: #e74c3c;
    border-width: 20px;
}
.li-item:hover .moment-div-container {
    height: 200px;
}

.contents {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moment-item {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    padding: 10px;
    background-color: #ffae42;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.moment-div-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: height 0.5s ease;
}

.moment-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location {
    font-size: 20px;
    margin-right: 10px;
}

.location-address {
    font-size: 16px;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    margin-bottom: 10px;
}

.div-property {
    display: flex;
    /* margin-bottom: 10px; */
}

.bed-bath {
    margin-right: 20px;
}

.text-info {
    font-size: 16px;
}
.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #e74c3c;
}
.edit {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3498db;
}
