.recent-container {
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    max-width: 82rem;
}
.listings {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}
.heading {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
.show-more {
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: #1f4037;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    overflow: hidden;
}
.show-more:hover {
    opacity: 1;
}

@media (min-width: 640px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1280px) {
    .list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
