.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, #99f2c8, #1f4037);
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.logo {
    height: 50px;
}

.navbar {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.navbar li {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar li:hover {
    color: rgb(87, 197, 182);
}
