.heading {
  margin-top: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.form-div{
  width: 60%;
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 82rem;
}

.input {
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border-color: #d1d5db;
}

.pass {
  position: relative;
  margin-bottom: 1.5rem;
}

.icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
}

.div-btn {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .div-btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.p-link {
  margin-bottom: 1.5rem;
}

.txt-red {
  color: #dc2626;
}
.txt-red:hover {
  color: #b91c1c;
}

.txt-blue {
  color: #0f3de3;
}
.txt-blue:hover {
  color: #1e40af;
}