.img-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
}
.p-name {
    position: absolute;
    left: 0.25rem;
    top: 0.75rem;
    color: #fff;
    padding: 10px;
    background-color: #ffae42;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}
.p-price {
    bottom: 0.25rem;
    left: 0.25rem;
    position: absolute;
    color: #fff;
    padding: 10px;
    background-color: #ffae42;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.p-likes {
    position: absolute;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    right: 0.25rem;
    top: 0.75rem;
    background: #e63946;
}
