.spinner-div {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: #000000;
  --bg-opacity: 0.5;
  justify-content: center;
  align-items: center;
}

.img-spin {
  height: 6rem;
}
