.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 82rem;
}
.heading {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 640px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: #1f4037;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.btn:hover {
    opacity: 1;
}
